import { {{pascalCase name}} } from '../../types/{{pascalCase name}}';
import { FC } from 'react';

const {{pascalCase name}}: FC<I{{pascalCase name}}> = () => (
  <section className="">
    {/* ~~Component content here - remove classes above as necessary~~ */}
  </section>
);

export default {{pascalCase name}};
